.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.DS_Store
.vscode/settings.json
nlp/models/embedding/__pycache__/data_embedding.cpython-310.pyc
utils/__pycache__/api_util.cpython-310.pyc
utils/__pycache__/clean_util.cpython-310.pyc
utils/__pycache__/common_util.cpython-310.pyc
utils/__pycache__/logging_util.cpython-310.pyc
utils/__pycache__/yaml_util.cpython-310.pyc
utils/persistence/__pycache__/elastic_util.cpython-310.pyc
resources/config/myself/nlp_cnf.yml
resources/config/myself/utils_cnf.yml
.gitignore
utils/__pycache__/const_util.cpython-310.pyc
resources/config/local/nlp_cnf.yml
resources/config/local/utils_cnf.yml
utils/persistence/__pycache__/clean_util.cpython-310.pyc
utils/persistence/__pycache__/mysql_util.cpython-310.pyc
utils/thirdparty/__pycache__/silicon_util.cpython-310.pyc
unsloth_compiled_cache/UnslothAlignPropTrainer.py
unsloth_compiled_cache/UnslothBCOTrainer.py
unsloth_compiled_cache/UnslothCPOTrainer.py
unsloth_compiled_cache/UnslothDDPOTrainer.py
unsloth_compiled_cache/UnslothDPOTrainer.py
unsloth_compiled_cache/UnslothGKDTrainer.py
unsloth_compiled_cache/UnslothGRPOTrainer.py
unsloth_compiled_cache/UnslothIterativeSFTTrainer.py
unsloth_compiled_cache/UnslothKTOTrainer.py
unsloth_compiled_cache/UnslothNashMDTrainer.py
unsloth_compiled_cache/UnslothOnlineDPOTrainer.py
unsloth_compiled_cache/UnslothORPOTrainer.py
unsloth_compiled_cache/UnslothPPOTrainer.py
unsloth_compiled_cache/UnslothPRMTrainer.py
unsloth_compiled_cache/UnslothRewardTrainer.py
unsloth_compiled_cache/UnslothRLOOTrainer.py
unsloth_compiled_cache/UnslothSFTTrainer.py
unsloth_compiled_cache/UnslothXPOTrainer.py
unsloth_compiled_cache/__pycache__/UnslothAlignPropTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothBCOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothCPOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothDDPOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothDPOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothGKDTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothGRPOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothIterativeSFTTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothKTOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothNashMDTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothOnlineDPOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothORPOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothPPOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothPRMTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothRewardTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothRLOOTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothSFTTrainer.cpython-310.pyc
unsloth_compiled_cache/__pycache__/UnslothXPOTrainer.cpython-310.pyc
